* {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #444;
}

li {
    font-size: 18px;
    color: white;
}

header {
    border-bottom: solid 2px orange
}

main {
    background-size: cover;
    height: 600px;
}

footer {
    border-top: solid 2px orange;
    clear: both;
    color: white;
}

.something {
    height: 200px;
}

.overlay {
    position: absolute;
    display: none;
    margin: 16.666%;
    color: #fff;
    height: 100%;

}


.home {
    background-image: url("../images/seaport.jpg");
}

.about {
    background-image: url("../images/containers.jpg");
}

.location {
    background-image: url("../images/shipyard.jpg");
}

.contact {
    display: none;
    background-image: url("../images/sunset.jpg");
}

#phone-number {
    color: orange;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-align: right;
}