* {
    font-family: 'Yanone Kaffeesatz', sans-serif;
    color: #444;
}

li {
    font-size: 18px;
}

main {
    background-image: url("../images/seaport.jpg");
    background-size: cover;
    height: 600px;
}

footer {
    clear: both;
    //bottom: 0px;
}

.something {
    height: 200px;
}

#phone-number {
    color: red;
}